.left-content
  .user
    .user--left
      %p test-user
    %ul.user--right
      %li.list
        =link_to '#' do
          = fa_icon 'edit', class:'icon'
      %li.list
        =link_to '#' do
          = fa_icon 'cog', class:'icon'

  .group
    .group--name
      %p test-group
    .group--talk
      %p さようなら

  .group
    .group--name
      %p sample-group
    .group--talk
      %p hello!

  .group
    .group--name
      %p example
    .group--talk
      %p まだメッセージがありません

